body{
  background-image: url(../img/Beer.jpg);
  background-size: auto;
  background-position: center center;
    background-color: #fcffdb;
    color:black;
    font-weight: bold;
}
/*Pokedex Array Style Attributes Start */
.brew-btn{
    width:100%;
    border-radius:5px;
    padding:5%;
    font-weight:bold;
    text-transform:capitalize;
    font-variant:small-caps;
    box-shadow:2px 2px;
}
.brew-btn:hover{
    background-color:#C19A6B;
    color:navy;

}
.brewitem{
    list-style-type:none;
    margin-bottom:15px;
    padding-right:10%

}
.brew-section{
    border:2px black outset;
    border-radius:5px;
    /*background-image: linear-gradient( 70deg, navy ,white);*/
    color:black;
    width:30%;
    height:550px;
    box-shadow:2px 2px;
    overflow-y:scroll;
    margin-top:5%;
    margin-left: 10%;
    margin-bottom: 10%;
 }
 .page-title{
     font-family:"Pokemon Solid";
     text-align: center;
     color:navy;
}
.page-footer{
	clear: both;
	display: flex;
	flex-direction: column; /* Footer Flex Box & Center Aligned For Items */
	text-align: center;
    margin-top:15%;
    margin-bottom:1px;
	margin-left: auto;
	margin-right: auto;
	background-image:url(../img/Header.jpg);
    padding-top: 2%;
	padding-bottom:2%;
	width: 80%;
	border-radius:5px 5px 0 0;
    box-shadow: 2px 2px 3px grey;
}
@media all and (max-width:500px){
    .poke-btn{
        font-size: 12px;

    }
}
@media all and (min-width:500px)and(max-width:750px){
    .poke-btn{
        font-size: 14px;

    }
}
@media all and(min-width:750px) and (max-width:1800px){
    .poke-btn{
        font-size:28px;
    }
}
/*Pokedex Array Style Attributes End */

/*Model Style Attributes Start*/


#modal-container {
  display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: auto;
    display:block;
    text-align: center;
      transition: all .4s ease-in-out;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    /*background-image:url(../img/PokemonDarkBall.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:2px 2px black;
    background: #fff;
    border:2px solid grey;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;

    }

.modal-close {
    border-radius:3px;
    border:2px solid blue;
    display:block;
    cursor:pointer;
    color: black;
    font-weight:bold;
    font-size:16px;
    text-transform:capitalize;
    font-variant:small-caps;
    padding:3px;
    text-decoration:none;
    float:right;
}
.modal-title{
    margin-top: 10px;
    color:navy;
    font-weight:bold;
    font-size:38px;
    text-transform:capitalize;
    font-variant:small-caps;

}
.modal-para{
     font-size: 18px;
     text-align: center;
     color:darkred;
       margin-bottom:5%;
}

/*.poke-img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 25%;
      height: auto;
}*/
/*Model Style Attributes Start*/
header{
  background-image:url(../img/Header.jpg);
      display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            background-size: auto;
    width: 80%;
    padding: 2px;
    margin: auto;
    border-radius: 5px;
    box-shadow:2px 2px grey;


}
